@charset "utf-8";

main{}
main > section{}
#main_intro{
  overflow:hidden;
  height:100vh;
}
#main_intro > h2{display:none;}
#main_intro article{
  position:absolute;
  width:100%;top:46%;
  transform:translateY(-80%);
  z-index:100;
  text-align:center;
  color:var(--t-color02);
}
#main_intro article > h3 {
  font-size: 60px;
  font-weight:bold;
}
#main_intro article > p {
  line-height: 80px;
  font-size: 16px;
}
#main_intro article > a{
  color:var(--t-color02);
  font-size:14px;
  text-decoration: underline;
  margin:0px 20px;
  padding:5px 10px;
}
#main_intro a:first-of-type{
  background:var(--bg-color01);
}
#next_btn{
  position: absolute;
  bottom: 40px; left: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  display: inline-block;
  width: 30px;
  height: 30px;
  border-right: 1px solid #fff;
  border-bottom: 1px solid #fff;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  text-indent: -9999px;
  background:none !important;
}

#top3, #intro, #test, #event, #buy, #cs{
  /* background:#ccc; */
  margin:50px 0px;
  /* height:800px; */
}

/* 가장많이 찾은 캐스퍼 top3 */

#top3 > h2{
  font-size: 30px;
  /* border: 1px solid #333; */
  text-align: center;
  font-weight: bold;
  padding-top: 40px;
}
#top3 > p{
  text-align: center;
  margin-top: 20px;
  font-size: 14px;
}
#top3 > div > span{
  margin: 70px auto auto auto;
  display: block;
  width: 80px; height: 40px;
  border: 1px solid #00f;
  border-radius: 20px;
  text-align: center;
  line-height: 40px;
  font-size: 18px;
}
#top3 >div> h3{
  font-size: 18px;
  /* border: 1px solid #333; */
  text-align: center;
  margin-top: 20px;
  color: rgb(6, 104, 184);
}
#top3 img{
  display: block;
  margin: 80px auto auto auto;
  width: 300px;
  /* border: 1px solid #00f  ; */
}
#top3 > div > ul{
  width:500px;
  height: 50px;
  margin: 80px auto auto auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border:  1px solid #333;
}
#top3 > div > ul > li{
  width: 40%;
  border: 1px solid #333;
}
li:first-child, li:nth-child(2){
  display: flex;
}
#top3 > div > ul > li > p{}
#top3 > div > ul > li > span{
  display: block;
  width: 50px; height: 50px;
  background: #00f;
  /* border: 1px solid #333; */
}
.button{
  text-align: center;
  margin: 0px auto;
}



/* 메인콘텐츠 영역 제목서식 */
.m_title{
  font-size: 34px;
  text-align: center;
  font-weight: bold;
  padding: 80px 0px 10px 0px;
  color: #000;
}

#intro{ 
  position:relative;
  height: 910px;
  overflow: hidden;
}
#intro h2{
  width:100%;
  text-align:center;
  
}
#intro h2, #intro p{
  position:absolute;
  z-index: 10;
}
#intro .l_title{
  left:50px;top:180px;
}
#intro .r_title{
  right:80px;bottom:60px;
  text-align:right;
}
.l_title, .r_title{
  font-size: 26px;
  font-weight: bold;
  line-height: 40px;
}
#intro video{
  transform: translateY(-60px);
}
#intro .more_btn{
  position: absolute; left: 50%; bottom: 90px;
  transform: translateX(-50%);
}
/* 더보기버튼 */
.more_btn{
  font-size:var(--f-size);
  border: 1px solid #333;
  padding: 10px 30px;
}
.more_btn:hover{
  background:var(--b-color);
  color: var(--t-color02);
}

/* 시승신청 서식 */
#test{text-align: center;}
#test .p01{
  text-align: center;
  font-size:var(--f-size01);
  line-height: 40px;
}
#test > article{
  width: 430px; height: 260px;
  border: 1px solid #ccc;
  padding: 15px; 
  text-align: center;
  position: relative;
  display: inline-block;
  margin-top: 50px;
}
.t_drive_l{
  margin-right: 30px;
} 
.t_drive_r{
  transform: translateY(-12px);
}

#test > article > h3{
  font-size: 24px;
  padding-top: 20px;
  font-weight: bold;
  line-height: 40px;
}


#test > article >p{
  font-weight: 500;
  font-size: var(--f-size);
  line-height: 20px;
  padding: 15px 0px; 
}

.test_d_btn{
  background-color: var(--bg-color02);
  color: #fff;
  line-height: 30px;
  padding: 10px 60px;
}
.test_d_btn01{
  color: var(--bg-color01);
  position: relative; top: 16px;
}
.t_drive_p2{
  transform: translateY(70px);
}
.t_drive_r .t_drive_p2{
  transform: translateY(81px);
}